@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);


* {
	margin: 0;
	padding: 0;
}

.register-and-login {
  position:absolute;
  top:10px;
  right: 10px;
}

.log-reg-header {
  padding-left: 20px;
  margin: 20px;
}

.log-reg-header-form {
  padding-left: 20px;
  margin: 20px;
  width: 30%;
}

.log-reg-button {
  margin: 20px;
  margin-left: 0px;
  padding: 10px;
  
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.errors {
  color: white;
  background-color: red;
  padding: 10px;
  margin: 10px;
  margin-left: 0px;

}

.header {
	height: 50vh;
	background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url(https://picsum.photos/g/2000/1200?image=443) 0 0 / cover no-repeat;
	-webkit-animation: gradientAnimation 40s ease infinite;
	animation: gradientAnimation 40s ease infinite;
}

@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}

@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}

h1 {
	position: absolute;
	top: 15%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	font : normal 600 72px/1 'Open Sans', sans-serif;
	text-align: center;
	white-space: nowrap;
}

h1 span {
	display: block;
	margin-top: 1em;
	font-size: 20px;
	font-weight: 300;
}

.slide-toggle {
  display: none;
}

.slidemenu {
  font-family: arial, sans-serif;
  max-width: 300px;
  margin: 0px auto;
  overflow: hidden;
  padding: 210px;
}

.slidemenu label {
  width: 25%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: .3;

}

.slidemenu label:hover {
  cursor: pointer;
  color:black; 
  opacity: 1;
}

.slidemenu label span {
  display: block;
  padding: 10px;    
}

.slidemenu label .material-icons {
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 40px;
  width: 40px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/* ************************ */
/* Create card styles on Create.js */
/* ************************ */

.card-editor-side-palette-container {
  display: flex;
}

.edit-card-main{
  display: flex;

}

.create-card-container {
  border: 2px solid;
  margin: 20px 20px 20px 80px;
  padding: 5px;
  width: 43rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  
}

.message-input-field {
  
}

.input-btn-form {
  display: flex;
  margin: 20px;
  padding: 20px;
  align-items: center;
}

.side-palette {
  border: 2px solid;
  position: absolute;
  right: 10px;
  top: 400px;
  height: 60%;
  width: 35%;
}

.palette-object {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-right-container {
  display: flex;
}

.palette-left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.palette-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.object-title {
  margin: 5px;
  padding: 2px;
  font-weight: bold;
}

.object-value-container {
  display: flex;
  align-items: center;
}

.object-value {
  margin: 5px;
  padding: 2px;
  font-size: smaller;
}

.select-tag {
  width: fit-content;
  height: fit-content;
  font-size: smaller;
}

.background-objects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette-input-btn-form {
  margin: 10px;
}

/* ************************ */
/* Img search on Create.js */
/* ************************ */

.display-images-container {
  display: flex;
  flex-wrap: wrap;
}

.images {
  margin: 10px;

}